$min-contrast-ratio: 3.6;

// Body
$body-bg: #F7F7F7;

// Colors
$primary: #0085ff;

$danger: #BC0303;

$secondary: #4F4F4F;


$table-color: black;
$table-bg: white;


// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



